body {
    font-family: 'Source Serif Pro', serif;
    width: 50em;
    margin: auto;
    color: #080808;
    background: #fefefe;
    padding: 10px 10px 100px 10px;
    font-size: 16px;
    line-height: 28px;
    position: relative;
}

em {
    font-style: normal;
    font-weight: bold;
}

h1 {
    font-size: 46px;
    color: #2b2b2b;
    text-align: center;
    margin-bottom: 32px;
}

h2 {
    color: #2b2b2b;
    margin: 1.5em 0 1em;
}

h2:before {
    content: "";
    display: inline-block;
    margin-right: 10px;
    width: 10px;
    height: 10px;
    position: relative;
    bottom: 3px;
    background-color: #8c8c8c;
}

h3 {
    font-weight: normal;
    margin: 0.8em 0 0;
}

p {
    margin: 0.4em 0 0;
}

dl {
    margin: 0;
}

dd {
    margin-left: 0;
    margin-bottom: 0.6em;
}

dd em {
    font-weight: normal;
    font-style: italic;
}

dt {
    float: right;
    font-weight: bold;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

li em {
    font-weight: bold;
    font-style: normal;
}


blockquote {
    text-align: center
}

a {
    text-decoration: none;
}

hr {
    color: #8c8c8c;
}

table {
    width: 100%;
    border-top: solid;
    border-bottom: solid;
    border-color:#2b2b2b;
    border-width: 2px;
}

td {
    text-align: center;
}
